<div class="col-md-4">
  <ul class="list-group">
    {{#each model.sortedContent as |band|}}
      <li class="list-group-item">
        {{#link-to "bands.band.songs" band class="list-group-item-band-link"}}
          {{band.name}}
          <span class="pointer glyphicon glyphicon-chevron-right"></span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
